
.logIn{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid white; */

}
.logIn form{
    border: 3px solid rgb(29, 29, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto ;
    margin-top: 40px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(68, 68, 200);
}
.logIn input{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    width: 100%;

 
    
}
.logIn button{
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(56, 196, 239);
    border: none;
    font-weight: 800;
    border-radius: 15px;
    
}
.logIn h3 {
    margin-top: 15px;
    color: rgb(255, 231, 231);
    margin-left: 10px;


}
.logIn h3 a{
    color: black;
    margin-left: 10px;


}